<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/morpheus-latest.min.css">
</head>
<header>
    <div class="header">
        <a href="/" class="logo">GSCs</a>
        <div class="header-right">
            <a href="/about">About</a>
        </div>
    </div>
</header>
<br>
<body>
Page was made for IMDiK. Idea was to create simpler page of <a href="https://singlecell.broadinstitute.org/single_cell">https://singlecell.broadinstitute.org/single_cell</a>.<br>
I have used morpheus software to create heatmap source: <a href="https://github.com/cmap/morpheus.js">https://github.com/cmap/morpheus.js</a>.

</body>
<div class="footer">
    <footer>
        <a href="https://github.com/MarcinCiecwierz/Medical" target="_blank">
            <img src="/img/github-mark-white.png" alt="Source" width="25" height="25">
        </a>
    </footer>
</div>
</html>